{% extends 'base.html' %}

{% block head %}

<title>{% block title %}Home{% endblock %}</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h3>Recent Contacts</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card img-thumbnail" style="width: 15rem;">
            <img src="/static/images/001.jpg" class="card-img-top" alt="contact-card">
            <p><i class="fa fa-address-card m-2" aria-hidden="true"></i>Amit Shah</p>
            <p><i class="fa fa-phone m-2" aria-hidden="true"></i>+6735423672</p>
            <p><i class="fa fa-envelope m-2" aria-hidden="true"></i>amit@email.com</p>
            <p><i class="fa fa-fax m-2" aria-hidden="true"></i>234876346</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card img-thumbnail" style="width: 15rem;">
            <img src="/static/images/002.jpg" class="card-img-top" alt="contact-card">
            <p><i class="fa fa-address-card m-2" aria-hidden="true"></i>Jenn Jen</p>
            <p><i class="fa fa-phone m-2" aria-hidden="true"></i>+4535423672</p>
            <p><i class="fa fa-envelope m-2" aria-hidden="true"></i>jen@email.com</p>
            <p><i class="fa fa-fax m-2" aria-hidden="true"></i>984676346</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card img-thumbnail" style="width: 15rem;">
            <img src="/static/images/003.jpg" class="card-img-top" alt="contact-card">
            <p><i class="fa fa-address-card m-2" aria-hidden="true"></i>Stella gwen</p>
            <p><i class="fa fa-phone m-2" aria-hidden="true"></i>+548903463</p>
            <p><i class="fa fa-envelope m-2" aria-hidden="true"></i>gwen@email.com</p>
            <p><i class="fa fa-fax m-2" aria-hidden="true"></i>234876346</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card img-thumbnail" style="width: 15rem;">
            <img src="/static/images/004.jpg" class="card-img-top" alt="contact-card">
            <p><i class="fa fa-address-card m-2" aria-hidden="true"></i>Juliah Coden</p>
            <p><i class="fa fa-phone m-2" aria-hidden="true"></i>+9874623672</p>
            <p><i class="fa fa-envelope m-2" aria-hidden="true"></i>juliah@email.com</p>
            <p><i class="fa fa-fax m-2" aria-hidden="true"></i>76457235</p>
        </div>
    </div>
</div>

{% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>